.body {
  background-color: #83afa9;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-2 {
  display: block;
  min-height: 250px;
  min-width: 600px;
  margin: 10% auto 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.myquote {
  margin-top: 34px;
  margin-right: 80px;
  margin-left: 80px;
}

.button {
  position: relative;
  left: 80px;
  top: 36px;
  right: 0px;
  float: left;
}

